-i https://pypi.org/simple
certifi==2025.4.26; python_version >= '3.6'
charset-normalizer==3.4.2; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
packaging==25.0; python_version >= '3.8'
pillow==10.4.0; python_version >= '3.8'
pytesseract==0.3.13; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
urllib3==2.2.3; python_version >= '3.8'
